body{
  background-color: tan;
}
h2{
    color: #8a2b2b;
    text-align: center;
}
h3{
   color: #8a2b2b;
    text-align: center;
}
p{
   color: #8a2b2b;
    text-align: center;
}
.header-grid {
  background-color: #f3cfc6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px; 
}

.left-content a {
  font-family: 'BBH Sans Bogle', sans-serif;
  font-size: 24px;
}
.right-content a {
  font-family: 'BBH Sans Bogle', sans-serif;
  font-size: 18px;
}


table {
  margin: 20px auto; 
  border-collapse: collapse;
  width: 80%; 
  background-color: antiquewhite;
  
}
 th, td {
  border: 3px solid #000000;
  padding: 10px;
  text-align: left;
  
  
}
tr:hover{
   background-color: #8a8282;
  color: white;
}
nav{
  background-color: #DEA5A4;
  padding: 25px;
  text-align: center;
  list-style-type: none;
}
  nav:hover{
    background-color: #DEd5bb;
  }
footer{
  background-color: #AEC6cf;
  text-align: center;

}
label {
  display: block;
  margin: 14px 0 6px 0;
  color: #8a2b2b;
  font-weight: bold;
}
input[type="text"] {
  padding: 8px 10px;
  border-radius: 6px;
  margin-bottom: 12px;
  background: #fff;
}




input[type="submit"] {
  background: #0e0e0e;
  color: #fff;
  font-size: 30px;
  border-radius: 8px;
  padding: 9px 32px;
  margin-top: 18px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #fcf9f9;
  color: black;
}





