

{% extends "basetemplete.html" %}
{% block title %}<title>Buy a car</title>{% endblock %}
{% block content %} 
        <h1>Purchasing</h1>
        <p>Purchasing content</p>

   <p>Filter</p>
   <form method="get" action="/buyacar.html">

    <label for="Model">Model:</label>
    <select name="Model" id="Model">
        <option value="">All</option>
        {% for model in all_models %}
            <option value="{{ model }}" {% if model == selected_model %}selected{% endif %}>{{ model }}</option>
        {% endfor %}
    </select>

    <label for="year">Car Year:</label>
    <select name="year" id="year">
        <!--https://stackoverflow.com/questions/29451208/set-default-value-for-select-html-element-in-jinja-template-->
        <option value="">All</option>
        {% for year in all_years %}
            <option value="{{ year }}" {% if year == selected_year %}selected{% endif %}>{{ year }}</option>
        {% endfor %}
        <!--https://stackoverflow.com/questions/29451208/set-default-value-for-select-html-element-in-jinja-template-->
    </select>

    <label for="Mileage">Mileage:</label>
    <input type="range" name="Mileage" id="Mileage" min="0" max="{{ max_mileage }}" value="{{ selected_mileage if selected_mileage is not none else 0 }}" step="1" >
    <span id="mileage_value">{{ selected_mileage if selected_mileage is not none else 0 }}</span>


    <label for="Description">Color:</label>
    <select name="Description" id="Description">
        <option value="">All</option>
        {% for Description in all_description %}
            <option value="{{ description }}" {% if descriptions == selected_description %}selected{% endif %}>{{ description }}</option>
        {% endfor %}
    </select>

    <label for="fuel">Car Fuel Type:</label>
    <select name="fuel" id="fuel">
        <option value="">All</option>
        {% for fuel in all_fuels %}
            <option value="{{ fuel }}" {% if fuel == selected_fuel %}selected{% endif %}>{{ fuel }}</option>
        {% endfor %}
    </select>

    <button type="submit">Filter</button>
</form>

</select>

    </head>
    <table>
        <tr>
            
            <th>Model Name</th>
            <th>Model Year</th>
            <th>VIN</th>
            <th>Mileage</th>
            <th>Description</th>
            <th>color</th>
            <th>Fuel Type</th>
             {% if role == 'Buyer' or role == 'Owner'%}
            <th>buy?</th>
            {%endif%}


        </tr>
        {% for v in vehicles %}
        <tr>
            <td><a href="{{ url_for('VehicleDetails', vin=v.vin) }}">{{ v.model_name }}</a></td>

            <td>{{ v.model_year }}</td>
            <td>{{ v.vin }}</td>
            <td>{{ v.mileage }}</td>
            <td>{{ v.description }}</td>
            <td>{{v.color}}</td>
            <td>{{ v.fuel_type }}</td>
            {% if role == 'Buyer' or role == 'Owner'%}
            <th><button type="button">Purchase?</button></th>
            {% endif %}
        </tr>
        {% endfor %}

        </table>
            {% endblock %}