<link rel="stylesheet" href="BaseTemplete.css"> 
{% extends "basetemplete.html" %}
{% block title %}<title>Vehicle Details </title>{% endblock %}
{% block content %} 

  <table>
        <tr>
            
            <th>Model Name</th>
            <th>Model Year</th>
            <th>VIN</th>
            <th>Mileage</th>
            <th>Description</th>
            <th>color</th>
            <th>Fuel Type</th>


        </tr>
        <tr>
            <td>{{ v.model_name }}</a></td>
            <td>{{ v.model_year }}</td>
            <td>{{ v.vin }}</td>
            <td>{{ v.mileage }}</td>
            <td>{{ v.description }}</td>
            <td>{{v.color}}</td>
            <td>{{ v.fuel_type }}</td>
        </table>

{% if role == 'Buyer' or role == 'Owner'%}
    
 <table>
    <tr>
      <th>Part needed</th>
      <th>part number</th>
      <th>quantity</th>
      <th>Cost</th>
      <th>total</th>
      <th>status</th>
      <th>install</th>
    </tr>

      {% for p in parts %}
  <tr>
    <td>{{ p.description }}</td>
    <td>{{ p.vendor_name }}</td>
    <td>{{ p.quantity }}</td>
    <td>{{ p.cost }}</td>
    <td>{{ p.total_cost }}</td>
    <td>{{ p.status }}</td>
    <th>{%if p.status == 'Received' or p.status == 'Ordered'%} <button type="button">Install</button>{%else%}part is installed{%endif%}</th>
  </tr>
  {% endfor %}
</table>
{%endif%}





    

{% if role == 'Sales' or role == 'Owner' %}
    <button type="submit">Sell Vehicle</button>
    {%endif%}
{% if role == 'Owner' %}
<table>
<tr>
  <th>name</th>
  <th>Phone</th>
  <th>address</th>
  </tr>
  <tr>
  {% for p in parts %}
   <td>{{p.vendor_name}} </td> 
   <td> {{p.phone_number}}</td> 
   <td>{{p.street}} {{p.city}}, {{p.state}} {{p.postal_code}}</td>
  </tr>
    {% endfor %}
  </table>
  <tr>
  <th>name</th>
  <th>Phone</th>
  <th>email</th>
  <th>adress</th>
  </tr>
  <tr>
  {%for c in customers%}
    <td>{{c.first_name}}  {{c.last_name}} </td> 
    <td>{{c.phone_number}} </td> 
     <td> {{c.email_address}} </td> 
    <td>{{c.street}} {{c.city}} {{c.state}} {{c.postal_code}}</td> 
    </tr>
    {%endfor%}
{%endif%}
{% endblock %}